<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ako zahtev nije direktorijum ili fajl, preusmeri na index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

